[connection]
id=bridge-{{ name }}
uuid={{ uuid }}
type=bridge
interface-name={{ name }}
autoconnect=true
{% if zone %}zone={{ zone }}{% endif %}

[bridge]
stp=false

[ipv4]
method=shared
address1={{ gateway }}/{{ prefix }}

[ipv6]
method=ignore
